<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":2,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":2}]')
});
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<% content_for :title do %>Solutions Center Dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock" style="background-color:#96c23d"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" style="background-color: #E67125;" data-title="Daily Briefing" data-text="Check your schedule for Christmas and Deadline changes.</br>Release this morning. Known issues will be updated soon!</br>Service and Support meeting tomorrow at 11:15." data-moreinfo="Let a manager know if something needs to be added!"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="todaysCalls" style="background-color:#65b193;" data-view="List" data-unordered="true" data-title="Today's Scheduled Calls" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar" style="background-color:#00B7CE" data-view="List" data-unordered="true" data-title="In/Out" data-moreinfo="Lists information for today only."></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="activeAppTickets" data-view="Hotness" data-title="Active Applicant Tickets" data-cool="10" data-warm="50"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="activeRecTickets" data-view="Hotness" data-title="Active Recommender Tickets" data-cool="20" data-warm="40"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="solvedAppTickets" style="background-color: #A154A1" data-view="Number" data-title="Today's Solved Applicant Tickets"></div>
      <i class="fa fa-ticket-o icon-background"></i>
    </li >

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="solvedRecTickets" style="background-color:#ED145B;" data-view="Number" data-title="Today's Solved Recommender Tickets"></div>
      <i class="fa fa-ticket-o icon-background"></i>
    </li >

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="totalChats" data-view="Number" style="background-color:#981a36;" data-title="Today's Chat Totals"></div>
      <i class="fa fa-ticket-o icon-background"></i>
    </li >

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="totalInteractions" style="background-color:#034F9B;" data-view="Number" data-title="Today's Total Applicant and Recommender Interactions"></div>
      <i class="fa fa-ticket-o icon-background"></i>
    </li >

  </ul>
</div>
